# Treatment for Null Values

In [ ]:
import pandas as pd 
import numpy as np 

df = pd.read_csv('market_data.csv')
df=pd.DataFrame(df)
print(df.head())

#data tentang apa dan mengerti kolomnya
# bisa dicek pake Chi-Square / Feature Important untuk tahu apakah kolom relevan atau tidak

  Item_Identifier  Item_Weight Item_Fat_Content  Item_Visibility  \
0           FDA15         9.30          Low Fat         0.016047
1           DRC01         5.92          Regular         0.019278
2           FDN15        17.50          Low Fat         0.016760
3           FDX07        19.20          Regular         0.000000
4           NCD19         8.93          Low Fat         0.000000

               Item_Type  Item_MRP Outlet_Identifier  \
0                  Dairy  249.8092            OUT049
1            Soft Drinks   48.2692            OUT018
2                   Meat  141.6180            OUT049
3  Fruits and Vegetables  182.0950            OUT010
4              Household   53.8614            OUT013

   Outlet_Establishment_Year Outlet_Size Outlet_Location_Type  \
0                       1999      Medium               Tier 1
1                       2009      Medium               Tier 3
2                       1999      Medium               Tier 1
3                       1998         NaN               Tier 3
4                       1987        High               Tier 3

         Outlet_Type  Item_Outlet_Sales
0  Supermarket Type1          3735.1380
1  Supermarket Type2           443.4228
2  Supermarket Type1          2097.2700
3      Grocery Store           732.3800
4  Supermarket Type1           994.7052

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [11]:
df.duplicated().sum()

np.int64(0)

In [3]:
mv = df.isnull()
print(mv)

      Item_Identifier  Item_Weight  Item_Fat_Content  Item_Visibility  \
0               False        False             False            False
1               False        False             False            False
2               False        False             False            False
3               False        False             False            False
4               False        False             False            False
...               ...          ...               ...              ...
8518            False        False             False            False
8519            False        False             False            False
8520            False        False             False            False
8521            False        False             False            False
8522            False        False             False            False

      Item_Type  Item_MRP  Outlet_Identifier  Outlet_Establishment_Year  \
0         False     False              False                      False
1         False     False              False                      False
2         False     False              False                      False
3         False     False              False                      False
4         False     False              False                      False
...         ...       ...                ...                        ...
8518      False     False              False                      False
8519      False     False              False                      False
8520      False     False              False                      False
8521      False     False              False                      False
8522      False     False              False                      False

      Outlet_Size  Outlet_Location_Type  Outlet_Type  Item_Outlet_Sales
0           False                 False        False              False
1           False                 False        False              False
2           False                 False        False              False
3            True                 False        False              False
4           False                 False        False              False
...           ...                   ...          ...                ...
8518        False                 False        False              False
8519         True                 False        False              False
8520        False                 False        False              False
8521        False                 False        False              False
8522        False                 False        False              False

[8523 rows x 12 columns]

In [6]:
bool_series = pd.isnull(df['Outlet_Size'])
missing_data = df[bool_series]
print(missing_data)

     Item_Identifier  Item_Weight Item_Fat_Content  Item_Visibility  \
3              FDX07       19.200          Regular         0.000000
8              FDH17       16.200          Regular         0.016687
9              FDU28       19.200          Regular         0.094450
25             NCD06       13.000          Low Fat         0.099887
28             FDE51        5.925          Regular         0.161467
...              ...          ...              ...              ...
8502           NCH43        8.420          Low Fat         0.070712
8508           FDW31       11.350          Regular         0.043246
8509           FDG45        8.100          Low Fat         0.214306
8514           FDA01       15.000          Regular         0.054489
8519           FDS36        8.380          Regular         0.046982

                  Item_Type  Item_MRP Outlet_Identifier  \
3     Fruits and Vegetables  182.0950            OUT010
8              Frozen Foods   96.9726            OUT045
9              Frozen Foods  187.8214            OUT017
25                Household   45.9060            OUT017
28                    Dairy   45.5086            OUT010
...                     ...       ...               ...
8502              Household  216.4192            OUT045
8508  Fruits and Vegetables  199.4742            OUT045
8509  Fruits and Vegetables  213.9902            OUT010
8514                 Canned   57.5904            OUT045
8519           Baking Goods  108.1570            OUT045

      Outlet_Establishment_Year Outlet_Size Outlet_Location_Type  \
3                          1998         NaN               Tier 3
8                          2002         NaN               Tier 2
9                          2007         NaN               Tier 2
25                         2007         NaN               Tier 2
28                         1998         NaN               Tier 3
...                         ...         ...                  ...
8502                       2002         NaN               Tier 2
8508                       2002         NaN               Tier 2
8509                       1998         NaN               Tier 3
8514                       2002         NaN               Tier 2
8519                       2002         NaN               Tier 2

            Outlet_Type  Item_Outlet_Sales
3         Grocery Store           732.3800
8     Supermarket Type1          1076.5986
9     Supermarket Type1          4710.5350
25    Supermarket Type1           838.9080
28        Grocery Store           178.4344
...                 ...                ...
8502  Supermarket Type1          3020.0688
8508  Supermarket Type1          2587.9646
8509      Grocery Store           424.7804
8514  Supermarket Type1           468.7232
8519  Supermarket Type1           549.2850

[2410 rows x 12 columns]

In [7]:
df.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

### Handles Missing Values for Item_Weight

In [ ]:
# Mean
df2 = df.copy()
df2['Item_Weight'].describe()

# Std 4.64 menunjukkan ada variasi yang cukup dalam Item_Weight
# Mean dan median cukup dekat = distribusi cukup simetris

count    7060.000000
mean       12.857645
std         4.643456
min         4.555000
25%         8.773750
50%        12.600000
75%        16.850000
max        21.350000
Name: Item_Weight, dtype: float64

In [16]:
q1 = df2['Item_Weight'].quantile(0.25)
q3 = df2['Item_Weight'].quantile(0.75)
IQR = df2['Item_Weight'].quantile(0.75)-df2['Item_Weight'].quantile(0.25)

batas_bawah = q1 - 1.5 * IQR
batas_atas = q3 + 1.5 * IQR

outliers=df2[(df2['Item_Weight']< batas_bawah) | (df2['Item_Weight'] > batas_atas)]
print(outliers)

Empty DataFrame
Columns: [Item_Identifier, Item_Weight, Item_Fat_Content, Item_Visibility, Item_Type, Item_MRP, Outlet_Identifier, Outlet_Establishment_Year, Outlet_Size, Outlet_Location_Type, Outlet_Type, Item_Outlet_Sales]
Index: []

In [28]:
df2['Item_Weight'].fillna(df['Item_Weight'].mean(),inplace=True)
print(df2['Item_Weight'].mean())
print(df2['Item_Weight'].isnull().sum())

12.857645184135977
0

C:\Users\71487\AppData\Local\Temp\ipykernel_14312\4094689472.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2['Item_Weight'].fillna(df['Item_Weight'].mean(),inplace=True)

In [29]:
df2 = df.copy()
df2['Item_Weight'].fillna(df['Item_Weight'].median(),inplace=True)
print(df2['Item_Weight'].median())
print(df2['Item_Weight'].isnull().sum())

12.6
0

C:\Users\71487\AppData\Local\Temp\ipykernel_14312\77365528.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2['Item_Weight'].fillna(df['Item_Weight'].median(),inplace=True)

In [21]:
print(df2.isnull().sum())

Item_Identifier                 0
Item_Weight                     0
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [71]:
df2 =df.copy()
df2.groupby('Item_Fat_Content')['Item_Weight'].mean()

Item_Fat_Content
LF         12.803212
Low Fat    12.953079
Regular    12.705840
low fat    12.563988
reg        12.842642
Name: Item_Weight, dtype: float64

In [72]:
df2['Item_Fat_Content'] = df2['Item_Fat_Content'].replace({'reg':'Regular','LF':'Low Fat','low fat':'Low Fat'})
df2.groupby('Item_Fat_Content')['Item_Weight'].mean()

Item_Fat_Content
Low Fat    12.937387
Regular    12.711654
Name: Item_Weight, dtype: float64

In [73]:
df2.groupby('Item_Type')['Item_Weight'].mean()

Item_Type
Baking Goods             12.277108
Breads                   11.346936
Breakfast                12.768202
Canned                   12.305705
Dairy                    13.426069
Frozen Foods             12.867061
Fruits and Vegetables    13.224769
Hard Drinks              11.400328
Health and Hygiene       13.142314
Household                13.384736
Meat                     12.817344
Others                   13.853285
Seafood                  12.552843
Snack Foods              12.987880
Soft Drinks              11.847460
Starchy Foods            13.690731
Name: Item_Weight, dtype: float64

In [74]:
df2['Item_Weight'] = df2.groupby(['Item_Type', 'Item_Fat_Content'])['Item_Weight'].transform(
    lambda x: x.fillna(x.mean())
)
df2.groupby('Item_Type')['Item_Weight'].mean()

Item_Type
Baking Goods             12.287314
Breads                   11.356277
Breakfast                12.782022
Canned                   12.310580
Dairy                    13.427226
Frozen Foods             12.865010
Fruits and Vegetables    13.221894
Hard Drinks              11.400328
Health and Hygiene       13.142314
Household                13.384736
Meat                     12.827565
Others                   13.853285
Seafood                  12.580420
Snack Foods              12.995951
Soft Drinks              11.846139
Starchy Foods            13.688557
Name: Item_Weight, dtype: float64

In [128]:
df2.isnull().sum()

Item_Identifier                 0
Item_Weight                     0
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

## Missing Values for Item_Size

In [115]:
df3 = df2.copy()
print(df3.isnull().sum())

Item_Identifier                 0
Item_Weight                     0
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [101]:
df3[(df3['Outlet_Type']=='Supermarket Type1')& (df3['Outlet_Location_Type']=='Tier 2')]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
8,FDH17,16.20,Regular,0.016687,Frozen Foods,96.9726,OUT045,2002,NaN,Tier 2,Supermarket Type1,1076.5986
9,FDU28,19.20,Regular,0.094450,Frozen Foods,187.8214,OUT017,2007,NaN,Tier 2,Supermarket Type1,4710.5350
19,FDU02,13.35,Low Fat,0.102492,Dairy,230.5352,OUT035,2004,Small,Tier 2,Supermarket Type1,2748.4224
22,NCB30,14.60,Low Fat,0.025698,Household,196.5084,OUT035,2004,Small,Tier 2,Supermarket Type1,1587.2672
25,NCD06,13.00,Low Fat,0.099887,Household,45.9060,OUT017,2007,NaN,Tier 2,Supermarket Type1,838.9080
...,...,...,...,...,...,...,...,...,...,...,...,...
8510,FDN58,13.80,Regular,0.056862,Snack Foods,231.5984,OUT035,2004,Small,Tier 2,Supermarket Type1,7182.6504
8513,FDH31,12.00,Regular,0.020407,Meat,99.9042,OUT035,2004,Small,Tier 2,Supermarket Type1,595.2252
8514,FDA01,15.00,Regular,0.054489,Canned,57.5904,OUT045,2002,NaN,Tier 2,Supermarket Type1,468.7232
8519,FDS36,8.38,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.60,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136

In [116]:
pd.crosstab(df3['Outlet_Type'], df3['Outlet_Size'])

Outlet_Size        High  Medium  Small
Outlet_Type
Grocery Store         0       0    528
Supermarket Type1   932     930   1860
Supermarket Type2     0     928      0
Supermarket Type3     0     935      0

In [118]:
df3.loc[(df3['Outlet_Type'] == 'Grocery Store') & (df3['Outlet_Size'].isna()), 'Outlet_Size'] = 'Small'
df3.loc[(df3['Outlet_Type'] == 'Supermarket Type2') & (df3['Outlet_Size'].isna()), 'Outlet_Size'] = 'Medium'
df3.loc[(df3['Outlet_Type'] == 'Supermarket Type3') & (df3['Outlet_Size'].isna()), 'Outlet_Size'] = 'Medium'

In [119]:
print(df3.isnull().sum())

Item_Identifier                 0
Item_Weight                     0
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  1855
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [120]:
df3.groupby(['Outlet_Size'])['Item_Outlet_Sales'].mean()

Outlet_Size
High      2298.995256
Medium    2681.603542
Small     1615.546167
Name: Item_Outlet_Sales, dtype: float64

In [121]:
df3[df3['Outlet_Identifier'] == 'OUT017'].groupby([ 'Outlet_Type'])['Item_Outlet_Sales'].mean()

Outlet_Type
Supermarket Type1    2340.675263
Name: Item_Outlet_Sales, dtype: float64

In [122]:
df3[df3['Outlet_Identifier'] == 'OUT045'].groupby([ 'Outlet_Type'])['Item_Outlet_Sales'].mean()

Outlet_Type
Supermarket Type1    2192.384798
Name: Item_Outlet_Sales, dtype: float64

In [ ]:
#Mengisi NA sesuai dengan Mean 
df3.loc[
    (df3['Outlet_Identifier'] == 'OUT017') & (df3['Outlet_Size'].isna()),
    'Outlet_Size'
] = 'Medium'
df3.loc[
    (df3['Outlet_Identifier'] == 'OUT045') & (df3['Outlet_Size'].isna()),
    'Outlet_Size'
] = 'High'

In [124]:
df3.groupby(['Outlet_Size'])['Item_Outlet_Sales'].mean()

Outlet_Size
High      2245.775957
Medium    2596.715242
Small     1615.546167
Name: Item_Outlet_Sales, dtype: float64

In [125]:
df3.isnull().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [126]:
pd.crosstab(df3['Outlet_Type'], df3['Outlet_Size'])

Outlet_Size        High  Medium  Small
Outlet_Type
Grocery Store         0       0   1083
Supermarket Type1  1861    1856   1860
Supermarket Type2     0     928      0
Supermarket Type3     0     935      0

In [ ]:
# Manipulasi data lain dengan menggunakan proporsi (tidak terpakai)
missing_idx = df3[(df3['Outlet_Type'] == 'Supermarket Type1') & (df3['Outlet_Size'].isna())].index
n_missing = len(missing_idx)
print(n_missing)

n_high = n_missing//4
n_medium = n_missing//4
n_small = n_missing -(n_high+n_medium)

fill_values = ['High'] * n_high + ['Medium'] * n_medium + ['Small'] * n_small
print(fill_values)
import random
random.shuffle(fill_values)

df3.loc[missing_idx,'Outlet_Size'] = fill_values