In [1]:
print("tes!")

tes!

In [3]:
#fundamental
var_int=1
var_float=3.14
var_string="Hello World"
#print
print(var_int)
#print type
print(type(var_float))
print(type(var_string))

1
<class 'float'>
<class 'str'>

In [11]:

print("var_int =",var_int)
print("var_int = ",var_int,"dan var_float =",var_float)
print("var_int = {} var_float = {}".format(var_int,var_float))
print(f'var_int = {var_int} var_float = {var_float}')

var_int = 1
var_int =  1 dan var_float = 3.14
var_int = 1 var_float = 3.14
var_int = 1 var_float = 3.14

In [12]:
a=b=c=10
print(a,b,c)

10 10 10

In [18]:
nama=input("Masukkan nama anda: ")
kota=input("Masukkan kota anda: ")

print("Nama saya",nama)
print("Kota saya",kota)

Nama saya 10
Kota saya 1

In [34]:
str = "Hello World!"
print(str)
print(str[0])  # H
print(str[2:5])  # llo
print(str[2:])  # llo World
print(str * 2)  # Hello WorldHello World
print(str + "TEST")  # Hello WorldTEST
# List
list1 = [1, 2, 3, 'empat', 'lima', 6.0, True]
print(list1)
print(list1[0:3])

Hello World!
H
llo
llo World!
Hello World!Hello World!
Hello World!TEST
[1, 2, 3, 'empat', 'lima', 6.0, True]
[1, 2, 3]

In [ ]:
print(str[0:6])
print(str[6:11])
print(str[6:-1])
print(str[:6])
print(str[6:])  # World!

In [57]:
print(str.split())
print(str.split()[1])
print(str.split('o'))
print(str.split()[1][:-1])
print(len(str))  # 12
print((str + ' ')*2)

['Hello', 'World!']
World!
['Hell', ' W', 'rld!']
World
12
Hello World! Hello World!

In [ ]:
for huruf in str:
    print(huruf)

In [ ]:
for i in range(1,101,2):
    print(i)
for i in range(2,101,2):
    print(i)

In [77]:
list2 = ['satu','dua','tiga']
print(len(list2))
for i in range(len(list2)):
    print("Elemen ke-",i+1,"adalah",list2[i])

3
Elemen ke- 1 adalah satu
Elemen ke- 2 adalah dua
Elemen ke- 3 adalah tiga

In [84]:
dict = {}
dict['one'] = "This is one"
dict[2] = 'This is two'
tinyDict = {'name': 'John', 'code': 6734, 'dept': 'sales'}
print(dict['one'])
print(dict[2])
print(tinyDict)
print(tinyDict.keys())
print(tinyDict.values())

This is one
This is two
{'name': 'John', 'code': 6734, 'dept': 'sales'}
dict_keys(['name', 'code', 'dept'])
dict_values(['John', 6734, 'sales'])

In [90]:
set1= {1, 2, 3, 4, 4}
print(set1)
tup1=(1,2,3,4,4)
print(tup1)
print(tup1[0])  # 1

{1, 2, 3, 4}
(1, 2, 3, 4, 4)
1

In [6]:
a=None
print(bool(a))

False

In [58]:
huruf = input("Masukkan huruf: ")
vokal = 'aieuo'
#huruf ='1'
if huruf.isalpha() == False:
    print("Input harus berupa huruf!")
else:
    if huruf in 'aieuo':
        print(f'huruf {huruf} adalah huruf vokal')
    else:
        print(f'huruf {huruf} adalah huruf konsonan')

#style one liner
print(f'huruf{huruf} adalah vokal') if huruf in vokal else print(f'huruf {huruf} adalah konsonan')

huruf a adalah huruf vokal
hurufa adalah vokal

In [56]:
str="Hello World!"
print(len(str))
print(str[11])
for huruf in range(len(str)-1,-1,-1):
    print(str[huruf])

12
!
!
d
l
r
o
W

o
l
l
e
H

In [43]:
for i in range(5,-1,-1):
    print(i)

5
4
3
2
1
0

In [59]:
#match statement
def checkVowel(n):
    match n:
        case 'a':return 'Vowel alphabet'
        case 'e':return 'Vowel alphabet'
        case 'i':return 'Vowel alphabet'    
        case 'o':return 'Vowel alphabet'
        case 'u':return 'Vowel alphabet'
        case _:return 'Consonant alphabet'
print (checkVowel('a'))
print (checkVowel('b'))
print (checkVowel('e'))

Vowel alphabet
Consonant alphabet
Vowel alphabet

In [61]:
#for loop
words = ["one", "two", "three"]
for x in words:
    print(x)

#while loop
i = 1
while i < 6:
    print(i)
    i += 1

one
two
three
1
2
3
4
5

In [64]:
#break
x=0
while x<10:
    print("x :", x)
    if x == 5:
        print("Breaking...")
        break
    x += 1
print("End")

#continue
for letter in 'Python':
    if letter == 'h':
        continue
    print('Current Letter :', letter)

x : 0
x : 1
x : 2
x : 3
x : 4
x : 5
Breaking...
End
Current Letter : P
Current Letter : y
Current Letter : t
Current Letter : o
Current Letter : n

In [ ]:
#pakai while cetak 1 s/d 10
i=1
while i <=10:
    print(i)
    tanya = input("Lanjutkan? (y/n): ")
    while tanya.lower() not in ['y', 'n','ya','yes','no','tidak']:
        tanya = input("Input tidak valid. Lanjutkan? (y/n): ")
    if tanya.lower() not in ['ya','y','yes']:
        break
    else:
        i += 1

1
2
3
4

In [71]:
#nested if statement
var = 100
if var == 100:
    print("The number is equal to 100")
    if var % 2 ==0:
        print("The number is even")
    else:
        print("The number is odd")
elif var ==0:
    print("The number is zero")
else:
    print("The number is negative")

The number is equal to 100
The number is even

In [98]:
def hello(nama ='Ira'):
    print(f'Hello {nama}')
hello()
hello('Budi')

def hasil(a,b):
    hasil = a + b
    return hasil

a =hasil(10,20)
print(a)

Hello Ira
Hello Budi
30

In [99]:
sum = lambda a, b: a + b
print("Value of total: ", sum(10, 20))

Value of total:  30

In [102]:
a =4
b=0
#hasil = a/b
#print(hasil)
#try except 
try:
    hasil = a / b
    print(hasil)
except ZeroDivisionError:
    print("Error: pembagi tidak boleh nol")

Error: pembagi tidak boleh nol

In [106]:
#num = float(input("Masukkan angka: "))
#print(f'Bilangan yang dimasukkan adalah {num}')
try:
    num = float(input("Masukkan angka: "))
    print(f'Bilangan yang dimasukkan adalah {num}')
except ValueError:
    print("Masukkan bilangan yang valid!")

Bilangan yang dimasukkan adalah 20.0